# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Подготовка данных для анализа, формирование сводной таблицы
df1 = data.pivot_table(index = 'children', values = 'debt', aggfunc = ['count', 'sum', 'mean'])\
    .sort_values(by = ('children'), ascending = True)\
    .style.format({('mean', 'debt') : '{:.2%}'})

print('Сводная таблица 1')
display(df1)

# columns 'total'  - Общее количество выданных кредитов
# columns 'target' - Количество просроченных кредитов
# columns 'share'  - Процент просрочки от общего количества

print('График зависимости процента просрочки по кредиту, %')

# import seaborn as sns
# sns.lineplot(data = df1, x = 'children', y = 'debt')

Сводная таблица 1

График зависимости процента просрочки по кредиту, %

**Вывод:** Исследуя График зависимости процента просрочки по кредиту можно сделать вывод, что увеличение количества детей приводит к увеличению процента просрочки по кредиту. При этом сильно выделяется значение процента для количества детей равного 5. Это можно отнести к исключению, так как общее количество взятых кредитов всего 9, такое значение не является показательным для общего количества и из данного графика можно исключить

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [24]:
# Подготовка данных для анализа, формирование сводной таблицы
import matplotlib.pyplot as plt

df2 = data.pivot_table(index = [ 'family_status'], values = 'debt', aggfunc = {'count','sum'})
df2 = df2.rename(columns={'count':'total','sum':'target'})
df2['share'] = round(df2['target'] / df2['total'] * 100, 1)
df2 = df2.sort_values(by='share', ascending=True)

print('Сводная таблица 2')
display(df2)

# columns 'total'  - Общее количество выданных кредитов
# columns 'target' - Количество просроченных кредитов
# columns 'share'  - Процент просрочки от общего количества

print('Зависимость просрочки по кредиту от семейного положения, %')

#fig, target = plt.subplots(nrows=1, ncols=1, figsize=(10, 10))
#sns.lineplot(data = df2, x = 'family_status', y = 'share')
#fig.set_size_inches(9,9)

Сводная таблица 2

                       total  target  share
family_status
вдовец / вдова           951      63    6.6
в разводе               1189      84    7.1
женат / замужем        12261     927    7.6
гражданский брак        4134     385    9.3
Не женат / не замужем   2796     273    9.8

Зависимость просрочки по кредиту от семейного положения, %

**Вывод:** Исходя из графика зависимости просрочки по кредиту от семейного положения наблюдается существеное отличие заделженностей. Так, к примеру, клиенты не состоящие в браке и живущие гражданским браком имеют наибольшую частоту просрочки. Связать это можно с возрастом и незрелостью клиентов, вероятнее всего это молодые люди. Клиенты в браке имеют умеренный уровень задолженносте. Самые ответственные и дисциплинированные клиенты - в разводе, или клиенты потерявшие супруга, имея негативный опыт семейной жизни они более рационально подходят к финансовому вопросу

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [25]:
# Подготовка данных для анализа, формирование сводной таблицы
df3 = data.pivot_table(index = [ 'total_income_category'], values = 'debt', aggfunc = {'count','sum'})
df3 = df3.rename(columns={'count':'total','sum':'target'})
df3['share'] = round(df3['target'] / df3['total'] * 100, 1)
df3 = df3.sort_values(by='total_income_category', ascending=True)
print('Сводная таблица 3')
display(df3)

# columns 'total_income_category' - Категории дохода:
                                    # 0–30000 — 'E';
                                    # 30001–50000 — 'D';
                                    # 50001–200000 — 'C';
                                    # 200001–1000000 — 'B';
                                    # 1000001 и выше — 'A'.
# columns 'total'                 - Общее количество выданных кредитов
# columns 'target'                - Количество просроченных кредитов
# columns 'share'                 - Процент просрочки от общего количества

print('Зависимость между уровнем дохода и возвратом кредита, %')

#import seaborn as sns

#sns.lineplot(data = df3, x = 'total_income_category', y = 'share')

Сводная таблица 3

                       total  target  share
total_income_category
A                         25       2    8.0
B                       5014     354    7.1
C                      15921    1353    8.5
D                        349      21    6.0
E                         22       2    9.1

Зависимость между уровнем дохода и возвратом кредита, %

**Вывод:**  Для категорий дохода А и Е данных недостаточно для объективного анализа, эти категории рекомендуется не учитывать. По остальным категориям однозначной картины не наблюдается так как разница между категориями В и С составляет 1.4%. Категория D - клиенты со средним достатком имеют меньше всего просрочек.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [26]:
# Подготовка данных для анализа, формирование сводной таблицы
df4 = data.pivot_table(index = [ 'purpose_category'], values = 'debt', aggfunc = {'count','sum'})
df4 = df4.rename(columns={'count':'total','sum':'target'})
df4['share'] = round(df4['target'] / df4['total'] * 100, 1)
df4 = df4.sort_values(by='share', ascending=True)
print('Сводная таблица 4')
display(df4)

# columns 'purpose_category' - Категории целей кредита
# columns 'total'            - Общее количество выданных кредитов
# columns 'target'           - Количество просроченных кредитов
# columns 'share'            - Процент просрочки от общего количества

print('Зависимость между категориями целей кредита и его просрочки, %')

#fig, target = plt.subplots(nrows=1, ncols=1, figsize=(10, 10))
#sns.lineplot(data = df4, x = 'purpose_category', y = 'share')
#fig.set_size_inches(10,10)

Сводная таблица 4

                          total  target  share
purpose_category
операции с недвижимостью  10751     780    7.3
проведение свадьбы         2313     183    7.9
операции с автомобилем     4279     400    9.3
получение образования      3988     369    9.3

Зависимость между категориями целей кредита и его просрочки, %

**Вывод:**  <br>Больше всего выделяется две равнозначные категории по количеству просрочек - кредиты на получение образования и операций с автомобилями. Повышенное количество просрочек может быть связано с возрастом и загруженностью клиента (в категории образования), а также уровнем заработка (в категории с автомобилями), которого не достаточно для обслуживание автомобиля, его страхование и ремонт

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

Пропуски бывают трёх типов:
<br> 
<br> <b>Полностью случайные: </b> если вероятность встретить пропуск не зависит ни от каких других значений.
<br> 
<br> <b>Случайные:</b> если вероятность пропуска зависит от других значений в наборе данных, но не от значений собственного столбца.
<br> 
<br> <b>Неслучайные:</b> если вероятность пропуска зависит от других значений, в том числе и от значений собственного столбца.
<br>
<br> Для выявления причин возникновения пропусков необходимо сначала выяснить в каких ячейках, строках, или столбцах датафрейма содержатся пропуски, затем пройтись по цепочке сброра данных:
<br> 1) ввод данных клиентом (нежелание раскрывать информацию о себе);
<br> 2) путь передачи информации из ячейки в базу данных (возможно, неправильный код адресации в БД);
<br> 3) выгрузка данных из базы для анализа.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:*
<br><b>Медиана</b> — это число, которое является серединой множества чисел, то есть половина чисел имеют значения большие, чем медиана, а половина чисел имеют значения меньшие, чем медиана.
<br>
<br>Применение средней арифметической величины уместно в том случае, когда значения имеют нормальный закон распределения. Медиана менее чувствительна к выбросам, поэтому ее предпочтительней использовать при наличии аномальных величин.

### Шаг 4: общий вывод.

**Краткий обзор проведённой работы**
<br>
Выполнена обработка пропусков в строках total_income - заполнение их медианным значением по каждому типу из столбца income_type

Выявлены аномально большие значения трудового стажа в категориях безработные и пенсионеры

В столбце children удалены строки, в которых встречаются аномальные значения по количеству детей (-1 и 20) из датафрейма

Заполнены пропуски в столбце days_employed медианными значениями по каждому типу занятости income_type

Заменены вещественные типы данных в столбце total_income на целочисленные

Удалены неявные дубликаты в столбце education с разным регистром букв. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв

Проведена категоризация доходов клиентов в заданных диапазонах, создан в датафрейме data столбец total_income_category с категориями A, B, C, D, E

Сформирован новый столбец purpose_category из столбца purpose, в который помещены следующие категории:
'операции с автомобилем',
'операции с недвижимостью',
'проведение свадьбы',
'получение образования'

**Рассмотрены гиппотезы:**
- Есть ли зависимость между количеством детей и возвратом кредита в срок?
- Есть ли зависимость между семейным положением и возвратом кредита в срок?
- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
- Как разные цели кредита влияют на его возврат в срок?

**Главные выводы**
<br>
На основе данных от банка — статистики о платёжеспособности клиентов, проведена оценка влияния семейного положения и количества детей клиента на факт погашения кредита в срок. Установлено, что увеличение количества детей приводит к увеличению процента просрочки по кредиту. При этом сильно выделяется значение процента для количества детей равного 5. Это можно отнести к исключению, так как общее количество взятых кредитов всего 9, такое значение не является показательным для общего количества, данных по много детным (с 5-ю детьми) недостаточно для анализа.
<br>
<br>Исследуя зависимость просрочки по кредиту от семейного положения наблюдается существеное отличие заделженностей. Так, к примеру, клиенты не состоящие в браке и живущие гражданским браком имеют наибольшую частоту просрочки. Связать это можно с возрастом и незрелостью клиентов, вероятнее всего это молодые люди. Клиенты в браке имеют умеренный уровень задолженносте. Самые ответственные и дисциплинированные клиенты - в разводе, или клиенты потерявшие супруга, имея негативный опыт семейной жизни они более рационально подходят к финансовому вопросу
<br>
<br>При анализе просрочек по кредиту в зависимости отдохода клиентов банка выявлено недостаточность данных категорий дохода А и Е для объективного анализа, эти категории рекомендуется не учитывать. По остальным категориям однозначной картины не наблюдается так как разница между категориями В и С составляет 1.4%. Категория D - клиенты со средним достатком имеют меньше всего просрочек.
<br>
<br>В оценке кредитной истории по назначениям кредитов больше всего выделяется две равнозначные категории - кредиты на получение образования и операций с автомобилями. Повышенное количество просрочек может быть связано с возрастом и загруженностью клиента (в категории образования), а также уровнем заработка (в категории с автомобилями), которого не достаточно для обслуживание автомобиля, его страхование и ремонт.
<br>
<br>Результаты исследования могу быть учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.